*.csv
temp.ipynb
*.webp
*.html
*.DS_Store
*.pyc
*.docx
*.json
2dv50e_Pima.ipynb
Data_train_test_split/HeartDisease/.ipynb_checkpoints/Extract_Top_5_Models_Per_Algorithm-checkpoint.ipynb
Data_train_test_split/HeartDisease/src/.ipynb_checkpoints/Extract_Top_5_Models_Per_Algorithm-checkpoint.ipynb
Data_train_test_split/VehicleSilhouettes/.ipynb_checkpoints/Extract_Top_5_Models_Per_Algorithm-checkpoint.ipynb
Data_train_test_split/VehicleSilhouettes/src/.ipynb_checkpoints/Extract_Top_5_Models_Per_Algorithm-checkpoint.ipynb
